:root{
    --main-color: rgb(69, 69, 69);
    --background-color: rgb(108, 108, 108);
    --box-shadow-color: rgb(255, 255, 81);
    --box-shadow-light-color: rgb(255, 255, 126);

    --main-setting-color: rgb(209, 209, 209);
    --main-light-color: rgb(20, 121, 253);
    --background-light-color: rgb(113, 175, 255);
    --box-shadow-blue-color: rgb(83, 145, 226);
}